.content.container {
	padding: 80px;
	flex-direction: column;
	min-height: 80vh;
}

.content-title {
	margin-bottom: 20px;
	
}

.content-text p {
	line-height: 2;
}

.content-text strong {
	color: var(--primary);
}

.buttons {
	padding: 20px 0;
}


